<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oshi.genericsettings">

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainLauncherActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Main screen -->
        <!-- Java -->
        <activity android:name=".java.main.MainActivity" android:screenOrientation="portrait" />

        <!-- Kotlin -->
        <activity android:name=".kotlin.main.MainActivity" android:screenOrientation="portrait"/>
        <!-- End of Main screen -->

        <!-- Basic types -->
        <!-- Java -->
        <activity
            android:name=".java.basic.BasicTypesActivity"
            android:screenOrientation="portrait" />

        <!-- Kotlin -->
        <activity
            android:name="com.oshi.genericsettings.kotlin.basic.BasicTypeActivity"
            android:screenOrientation="portrait" />
        <!-- End of Basic types -->

        <!-- Checkable types -->
        <!-- Java -->
        <activity
            android:name=".java.checkable.CheckableTypesActivity"
            android:screenOrientation="portrait" />

        <!-- Kotlin -->
        <activity
            android:name="com.oshi.genericsettings.kotlin.checkable.CheckableTypesActivity"
            android:screenOrientation="portrait" />
        <!-- End of Checkable types -->

        <!-- Expandable types -->
        <!-- Java -->
        <activity
            android:name=".java.expandable.ExpandableTypesActivity"
            android:screenOrientation="portrait" />

        <!-- Kotlin -->
        <activity
            android:name="com.oshi.genericsettings.kotlin.expandable.ExpandableTypesActivity"
            android:screenOrientation="portrait" />
        <!-- End of Expandable types -->

        <!-- Switchable types -->
        <!-- Java -->
        <activity
            android:name=".java.switchable.SwitchableTypesActivity"
            android:screenOrientation="portrait" />

        <!-- Kotlin -->
        <activity
            android:name=".kotlin.switchable.SwitchableTypesActivity"
            android:screenOrientation="portrait" />
        <!-- End of Switchable types -->

        <!-- Seekbar types -->
        <!-- Java -->
        <activity
            android:name=".java.seekbar.SeekBarTypesActivity"
            android:screenOrientation="portrait" />

        <!-- Kotlin -->
        <activity
            android:name=".kotlin.seekbar.SeekBarTypesActivity"
            android:screenOrientation="portrait" />
        <!-- End of Seekbar types -->

    </application>

</manifest>